body{
    background-color: #ecf0f1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#upgradescontainer{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

#upgradescontainer>button{
    margin-bottom: 0.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;    
}

#maincontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: pink solid 10px;
}

#maincontainer>img{
    max-width: 50%;
  height: auto;
}

#statcontainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: solid black 1px;
    max-width: 80%;
}

#pointsdisplay{
    grid-column: 1/4;
    grid-row: 1/3;
    font-size: 2rem;
    margin: auto;
}

#clickdisplay{
    grid-column: 1/2;
    grid-row: 3/3;
    background-color: red;
}

#autodisplay{
    grid-column: 2/3;
    grid-row: 3/3;
    background-color: blue;
}

#multiplierdisplay{
    grid-column: 3/3;
    grid-row: 3/3;
    background-color: green;
}